@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html * {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  background-color: #f1f1f1;
}

.big-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.container {
  max-width: 90%;
  margin: auto;
}

#loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}

#loading span {
  border-color: #b8b8b8;
  border-bottom: transparent;
}

/* -------------------------- SINGLE CARDS ----------------------------- */

.bg-01d,
.bg-02d {
  background: linear-gradient(150deg, #5374e7, #77b9f5);
}

.bg-03d,
.bg-04d,
.bg-09d,
.bg-11d,
.bg-13d,
.bg-50d {
  background: linear-gradient(150deg, #464c64, #99a9b9);
}

.bg-10d {
  background: linear-gradient(150deg, #011354, #5b9fe3);
}

.bg-01n,
.bg-02n,
.bg-03n,
.bg-04n,
.bg-09n,
.bg-10n,
.bg-11n,
.bg-13n,
.bg-50n {
  background: linear-gradient(150deg, #070c2a, #363d58);
}

.card-container {
  width: 100%;
  min-height: 8rem;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.17);
}

.card-text-container {
  padding-left: 1.2rem;
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text-container h2 {
  color: #ffffff;
  font-weight: 600;
  font-size: 26px;
  white-space: nowrap;
}

.card-text-container p.date {
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.card-text-container p.time {
  color: #ffffff;
  font-weight: 300;
  font-size: 12px;
  margin-top: 0.8rem;
}

.card-icon-container,
.card-temperature-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-icon-container img {
  max-width: 75%;
  max-height: 90%;
}

.card-temperature-container p {
  color: #ffffff;
  font-weight: 700;
  font-size: 50px;
}

/* ------------------------------------ MOBILE ------------------------------------ */

/************* NAV ************/

nav {
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-container {
  width: 90%;
  height: 70%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.17);
  padding-inline: 2rem;
  position: relative;
}

.nav-icon {
  height: 100%;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-icon svg {
  font-size: 1.6rem;
  color: #787a94;
}

.nav-icon svg.active {
  color: #01175f;
}

.nav-icon.active::after {
  content: " ";
  background-color: #01175f;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 500px) {
  .nav-icon {
    width: 5rem;
  }
  .nav-icon svg {
    font-size: 2.2rem;
  }

  .icons-container {
    padding-inline: 4rem;
  }
}

@media screen and (min-width: 700px) {
  .nav-icon {
    width: 7rem;
  }
  .nav-icon svg {
    font-size: 2.5rem;
  }

  .icons-container {
    padding-inline: 6rem;
  }
}

/********************* HOME ********************/
.container.home {
  max-height: 85vh;
  padding-bottom: 5%;
  overflow: scroll;
}

.home .title-container {
  margin-block: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .title-container h2 {
  color: #01175f;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

.add-city-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.add-city-container p {
  font-weight: 600;
  color: #01175f;
  font-size: 1.1rem;
}

.add-city-container svg {
  color: #01175f;
  font-size: 1.5rem;
}

.cities-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 50px;
  padding-bottom: 2rem;
}

input.name {
  border: transparent;
  font-size: 1.2rem;
  color: #757575;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem 0;
  margin-top: 1rem;
}

input.name:focus-visible {
  outline-color: transparent;
}

/******************* SEARCH ********************/

.container#search-mobile {
  padding-top: 1rem;
}

.search-title-container {
  margin-bottom: 1rem;
}

.search-title-container h1 {
  color: #01175f;
  font-weight: 600;
  font-size: 1.8rem;
  margin-left: 1rem;
}

.search-bar-container {
  display: flex;
  position: relative;
  background-color: white;
  height: 8rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.17);
}

.search-bar-container input {
  border: transparent;
  margin-left: 2rem;
  font-size: 1.7rem;
  width: 80%;
  color: #757575;
  font-weight: 600;
}

::placeholder {
  color: #b8b8b8;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #b8b8b8;
}

::-ms-input-placeholder {
  color: #b8b8b8;
}

.search-bar-container input:focus-visible {
  outline-color: transparent;
}

.search-icon {
  width: 3.5rem;
  border-radius: 25px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#5374e7, #77b9f5);
}

.search-icon svg {
  font-size: 2rem;
  color: #ffffff;
}

.results-container {
  padding: 2rem 0;
}

/**************************** DETAIL ***************************/

.container#detail {
  margin: 0;
  padding-inline: 0.8rem;
  height: 100%;
  max-width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 5rem;
}

.detail-top-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 1.5rem;
}

.detail-top-container svg {
  color: #ffffff;
  font-size: 1.5rem;
}

.middle-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.middle-text h3,
.middle-text p {
  color: #ffffff;
}

.middle-text h3 {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 600;
}

.middle-text p.date {
  font-size: 1.1rem;
  font-weight: 500;
}

.middle-text p.description {
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: capitalize;
}

.icon-temperature-container {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.icon-temperature-container .temperature {
  font-size: 6.5rem;
  color: #ffffff;
  font-weight: 700;
}

.timeline-container {
  display: flex;
  width: 100%;
  padding-left: 2rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.timeline-container p,
.timeline-container span {
  color: #ffffff;
  font-weight: 300;
}

.timeline-container p {
  font-size: 0.8rem;
}

.timeline-container span {
  font-size: 1.1rem;
}

.timeline-container .circle {
  width: 1rem;
  height: 1rem;
  background-color: #ffffff;
  border-radius: 50%;
}

.other-times,
.now {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.now p {
  font-weight: 700;
  font-size: 1.2rem;
}

.now span {
  font-weight: 700;
  font-size: 1.5rem;
}

.now .circle {
  width: 1.5rem;
  height: 1.5rem;
}

.timeline-container .line {
  position: absolute;
  height: 5px;
  width: 100%;
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 1) 18%,
    rgba(255, 255, 255, 0) 100%
  );

  bottom: 52%;
  left: 3rem;
}

.next-days-container {
  display: flex;
  width: 100%;
  overflow: scroll;
  gap: 1rem;
  padding-left: 0.5rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.signle-day {
  padding: 1rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.17);
  border-radius: 25px;
  min-width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signle-day h2 {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.3rem;
}

.signle-day span {
  color: #ffffff;
  font-weight: 600;
  font-size: 2rem;
}

.signle-day .icon-container {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}

.signle-day .icon-container img {
  width: 70%;
  margin: auto;
}

/************************* LOCALIZATION ***********************/

.container#localization-mobile {
  padding-top: 1rem;
}

.title-localization-container {
  margin-bottom: 1rem;
}

.title-localization-container h1 {
  color: #01175f;
  font-weight: 600;
  font-size: 1.8rem;
  margin-left: 1rem;
}

.localization-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(150deg, #5374e7, #77b9f5);
  height: 9rem;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.17);
}

.localization-container svg {
  color: #ffffff;
  font-size: 2rem;
}

.localization-container span {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 600;
}

/* ------------------------------------- DESKTOP ---------------------------------------- */

.big-container#desktop {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 62vh auto;
  padding: 0 1.5rem;
}

/*********************** RIGHT SIDE *******************/

.current-other-cities {
  margin-top: 25%;
  overflow-y: scroll;
}

.search-localization {
  padding-top: 2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1200px) {
  .current-other-cities,
  .search-localization {
    padding-inline: 1.5rem;
  }
}

/*********************** LEFT SIDE *******************/

.current-selected-city {
  position: relative;
  margin-top: 3rem;
  display: flex;
  align-items: center;
}

.img-current-container {
  position: relative;
  padding: 0 1rem 0 1rem;
  width: 100%;
  height: 100%;
}

.img-current-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right bottom;
  border-radius: 25px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.17);
}

.img-current-container .current-text-container {
  position: absolute;
  top: 20%;
  left: 18%;
}

.current-weather-side {
  position: absolute;
  width: 8rem;
  height: 60%;
  left: -2rem;
  border-radius: 0 25px 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.17);
}

.current-weather-side span {
  font-size: 3.5rem;
  color: #ffffff;
  font-weight: 700;
}

.current-text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.current-text-container h2,
.current-text-container p,
.current-text-container span {
  color: #01175f;
}

.current-text-container h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
}

.current-text-container p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2rem;
}

.current-text-container span {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2rem;
  text-transform: capitalize;
}

.forcast-selected-city {
  padding: 2rem 0rem 2rem 1.5rem;
  display: grid;
  grid-template-columns: 33% 67%;
}

/* TODAY */

.today-forecast-container {
  height: 100%;
}

.today-forecast-container h2 {
  height: 15%;
  color: #01175f;
  font-weight: 600;
  font-size: 1.8rem;
  margin-left: 1rem;
}

.time-weather-container {
  padding: 1rem 0;
}

.timeline-container-desktop {
  height: 90%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60%;
  margin: auto;
  justify-content: space-between;
}

.timeline-container-desktop p,
.timeline-container-desktop span,
.now-desktop {
  color: #ffffff;
}

.now-desktop {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}

.timeline-container-desktop .now,
.timeline-container-desktop .other-times {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  gap: 0;
}

.timeline-container-desktop .circle {
  background-color: #ffffff;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  justify-self: center;
}

.timeline-container-desktop p {
  justify-self: end;
}

.timeline-container-desktop .now .circle {
  width: 2rem;
  height: 2rem;
}

.time-weather-container {
  width: 100%;
  height: 85%;
  border-radius: 25px;
}

.line-desktop {
  position: absolute;
}

/* WEEK-MONTH */

.week-month-container {
  width: 100%;
  height: 100%;
  padding: 0 1rem 0 1rem;
}

.week-month-titles-container {
  position: relative;
  display: flex;
  height: 15%;
  width: 85%;
  background-color: #ffffff;
  border-radius: 25px 25px 0 0;
}

.week-month-title-container.active {
  background-color: #5374e7;
  border-radius: 25px 25px 0 0;
}

.week-month-title-container.active h3 {
  color: #ffffff;
}

.week-month-title-container h3 {
  color: #01175f;
  font-size: 1.7rem;
  font-weight: 600;
}

.week-month-title-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px 25px 0 0;
  cursor: pointer;
}

.forecast-container {
  height: 85%;
  width: 100%;
  background: linear-gradient(180deg, #5374e7, #77b9f5);
  border-radius: 0 25px 25px 25px;
}

@media screen and (min-width: 1200px) {
  .img-current-container {
    padding: 0 2rem 0 1.5rem;
  }

  .current-weather-side {
    width: 9rem;
  }

  .forcast-selected-city {
    padding: 2rem 1.5rem 2rem 1.5rem;
  }

  .week-month-container {
    padding: 0 1rem 0 3rem;
  }

  .week-month-titles-container {
    width: 70%;
  }
}
